@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  @media (max-height: 800px) {
    .center-on-small-height {
      @apply absolute top-1/2 transform -translate-y-1/2 left-10;
      @apply shadow-lg;  /* Adds a shadow for contrast */
      
      /* Optionally, if the background is too bright, add a semi-transparent overlay */
      background-color: rgba(0, 0, 0, 0.5); /* A dark transparent overlay for contrast */
      padding: 1rem;  /* Add some padding around text for better spacing */
      border-radius: 8px; /* Optional: round the corners */
    }
  }
  html {
    scroll-behavior: smooth;
  }
}

@media (max-height: 800px) {
  .hide-on-small-height {
    display: none;
  }
}

@font-face {
  font-family: montserrat;
  src: url('../../public/fonts/Montserrat-VariableFont_wght.ttf');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, ;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}
